<body bgcolor="#FFFFFF">

<h1 align="center">&nbsp; XXX DETECTOR 
DCS - HowTo Pages</h1>
<h2>&nbsp;&nbsp;&nbsp; Main DCS</h2>
<ul>
	<li><b>START THE DCS </b></li>
	<li><b>STOP THE DETECTOR</b></li>
	<li><b>LOOSE THE CONTROL</b></li>
</ul>
<h2>&nbsp;&nbsp;&nbsp; Module </h2>
<ul>
	<li><b>START/STOP THE MODULE</b></li>
	<li><b>RECOVER A COOLING FAILURE</b></li>
	<li><b>RECOVER A LIQUID PRESSURE WARNING</b></li>
</ul>
<h2>&nbsp;&nbsp;&nbsp; Power System</h2>
<ul>
	<li><b>RECOVER A TRIP CHANNEL</b></li>
	<li><b>SET NEW VALUES</b></li>
	<li><b>.....</b></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp; </p>
